<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/error.css" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <!-- Google Maps -->
</head>
<body>

    <div class="container">
        <img src="/images/logo.png"><br>
        <h1>404</h1>
        You shouldn't be here.
    </div>

</body>
</div>
