<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div>
            <h1>lakADS</h1>
        </div>
        <div>
            <h2>Error!</h2>
        </div>
    </body>
</html>