<!DOCTYPE html>
<html>
<head>
    <title>Home</title>

    <% include partials/head %>

    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="/scripts/home.js"></script>
    <script src="/scripts/promo.js"></script>

</head>

<body>

    <% include partials/navigation %>

    <div class="container">
        <h5>Promos</h5>

        <div id="promo-wrapper" class="row">
        </div>

    </div>

    <!-- Modal Structure -->
    <div id="add-promo-form-wrapper" class="modal">
        <form class="col s12" id="add-promo-form">

            <div class="modal-content">
                <h4>Add Promo</h4>

                <div class="row">

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="50% Chicken Joy" id="promo-name" type="text" class="validate">
                            <label for="promo-name">Promo Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Lorem Ipsum" id="promo-desc" type="text" class="validate">
                            <label for="promo-desc">Promo Description</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Lorem Ipsum" id="promo-add" type="text" class="validate">
                            <label for="promo-add">Promo Address</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="shoes, food, bags" id="promo-cat" type="text" class="validate">
                            <label for="promo-cat">Categories</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="1000" id="promo-slots" type="number" class="validate">
                            <label for="slots">Slots</label>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <input type="submit" name="" value="Submit" class="modal-action modal-close waves-effect waves-green btn-flat">
            </div>
        </form>

    </div>


    <!-- Modal Structure -->
    <div id="edit-promo-form" class="modal">
        <form class="col s12">

            <div class="modal-content">
                <h4>Edit Promo</h4>

                <div class="row">

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="50% Chicken Joy" id="promo-name" type="text" class="validate">
                            <label for="promo-name">Promo Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Lorem Ipsum" id="promo-desc" type="text" class="validate">
                            <label for="promo-desc">Promo Description</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="1000" id="promo-slots" type="number" class="validate">
                            <label for="promo-slots">Slots</label>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <input type="submit" name="" value="Submit" class="modal-action modal-close waves-effect waves-green btn-flat">
            </div>
        </form>

    </div>


    <a id="add-promo" class="btn-floating btn-large waves-effect waves-light" href="#add-promo-form-wrapper"><i class="material-icons">add</i></a>
    <div id="map"></div>


</body>

</html>
