<!DOCTYPE html>
<html>

<head>
    <title>Login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="/scripts/login.js"></script>
</head>

<body>
    <div id="slider-overlay"></div>

    <div class="slider fullscreen" id="background-slider">
        <ul class="slides">
            <li>
                <img src="/images/slide1.jpg"> <!-- random image -->
            </li>
            <li>
                <img src="/images/slide2.jpg"> <!-- random image -->
            </li>
            <li>
                <img src="/images/slide3.jpg"> <!-- random image -->
            </li>
            <li>
                <img src="/images/slide4.jpg"> <!-- random image -->
            </li>
        </ul>
    </div>

    <div class="card-panel" id="login-form-wrapper">
        <img src="/images/logo.png" id="app-logo">
        <form id="login">
            <div class="input-field col s12">
                <input id="log-username" type="text" class="validate">
                <label for="log-username">Username</label>
            </div>
            <div class="input-field col s12">
                <input id="log-password" type="password" class="validate">
                <label for="log-password">Password</label>
            </div>
            <input type="submit" value="Login" class="btn"/>
        </form>
        <br>
        <a href="#" id="register-trigger">Create an Account</a>
    </div>

    <div class="card-panel" id="register-form-wrapper">
        <div class="row">
            <form id="register">
                <div class="input-field col s12">
                    <input id="reg-username" type="text" class="validate">
                    <label for="reg-username">Username</label>
                </div>
                <div class="input-field col s12">
                    <input id="reg-company-name" type="text" class="validate">
                    <label for="reg-company-name">Company Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="reg-password" type="password" class="validate">
                    <label for="reg-password">Password</label>
                </div>
                <div class="input-field col s6">
                    <input id="reg-confirm-password" type="password" class="validate">
                    <label for="reg-confirm-password">Reenter Password</label>
                </div>
                <input type="submit" value="Register" class="btn"/>
            </form>
        </div>
        <br>
        <a href="#" id="login-trigger">Already have account?</a>
    </div>


</body>

</html>
