<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <% include partials/head %>

    <link rel="stylesheet" href="/stylesheets/map.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIcdenofJLZDSgYKjiQyiiMjk6UpqIKSE&libraries=visualization&callback=initMap" async defer></script>
    <script src="/scripts/map.js"></script>
</head>

<body>

    <% include partials/navigation %>

    <div class="container">
        <h5>Promos</h5>

        <div id="map-wrapper" class="row">
            <div id="map"></div>
        </div>

    </div>

</body>

</html>
