.promo-name {
    color: #007849;
    font-weight: bold;
}

.promo-command {
    text-align: right !important;
    color: #007849;
}

#add-promo {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #0375B4;
}
