div {
    /*border: solid 1px red;*/
}

#login-form-wrapper {
    position: absolute;
    width: 400px;
    margin: 10% auto 0 auto;
    text-align: center;
    z-index: 1000;
    margin-left: calc(50% - 200px);
}

#app-logo {
    width: 73%;
    margin: auto;
    margin-top: -90px;
}

.input-field {
    text-align: left !important;
}

#slider-overlay {
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1000;
}

#background-slider {
    height: 100%;
    z-index: 0;
}


/* Resgister Form */
#register-form-wrapper {
    position: absolute;
    width: 700px;
    margin: 8% auto 0 auto;
    text-align: center;
    z-index: 1000;
    margin-left: calc(50% - 350px);
    display: none;
}

#map {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.btn {
    background-color: #FFCE00 !important;
}
